<%- include('../pages/header') %>

<div class="ui comments">
    <h3 class="ui dividing header">
        Commentaires
    </h3>
 
        <div class="comment">
            <a class="avatar" href="/message/<%= message.id %>">
                <img src="https://cdn-icons-png.flaticon.com/128/4128/4128176.png" />
            </a>
            <div class="content">
                <div class="date">
                    <%= message.created_at %>
                </div>
                <div class="test"><%= message.content %></div>
            </div>
        </div>

</div>

<%- include('../pages/footer') %>